<div class="row">
  <div class="col">
    <form (ngSubmit)="onAddItem(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5">
          <label for="title">Title</label>
          <input
            type="text"
            id="title"
            class="form-control"
            name="title"
            #tittelInput
            ngModel
            required
          />
        </div>
        <div class="col-sm-7">
          <label for="description">Description</label>
          <input
            type="text"
            id="description"
            class="form-control"
            name="description"
            #descriptionIntput
            ngModel
            required
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <button
            class="btn btn-success"
            [disabled]="!form.valid"
            type="submit"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
        </div>
        <div class="col-md-1">
          <button class="btn btn-info" type="reset" (click)="onReset()">
            Clear
          </button>
        </div>
        <div *ngIf="editMode" class="col-md-1">
          <button class="btn btn-danger" type="reset" (click)="onDelete()">
            Delete
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
